.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    width: 100%;
    background-color: rgb(21, 98, 213);
    color:rgb(0, 0, 0);
    position: fixed;
}

.home{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 5vh;
}

.others{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    height: 5vh;
}